{{#each issue in model}}
    <li>Name: {{issue.name}}</li>
    <li>Description: {{issue.description}}</li>
    <li>Created by: {{issue.createdBy.email}}</li>
    <li>Created at: {{moment issue.createdAt 'DD.MMMM YYYY'}}</li>
    <li>Expires at: {{moment issue.expiresAt 'DD.MMMM YYYY'}}</li>
    <li>POLLS:</li>
    {{#each poll in issue.polls}}
        <li>Question: {{poll.question}}</li>
        {{#each option in poll.options}}
            <li>Option: {{option.value}}</li>
        {{/each}}
    {{/each}}
{{/each}}
<br/>
Create new {{#link-to 'issues.new'}}here{{/link-to}}.
