
Name: {{model.name}}<br>
Description: {{model.description}}<br>
Created by: {{model.createdBy.email}}<br>
Created at: {{moment model.createdAt 'DD.MM.YYYY'}}<br>
Expires at: {{moment model.expiresAt 'DD.MM.YYYY'}}<br>

Polls:
<div class="poll">
    {{#each poll in model.polls}}
        Poll question: {{poll.question}}
        {{#each option in poll.options}}
            <li>{{option.value}}</li>
        {{/each}}
    {{/each}}
</div>

