<div class="model-container shadow-z-2">
    <div class="issue-top-info">
        <h3>{{model.name}}</h3>
        <p>{{model.description}}</p>
        <h6>Initiator: {{model.createdBy.email}}</h6>
    </div>
    <div class="issue-bottom-info">
        <div class="text-left"><i class="mdi-action-accessibility"></i> {{model.concernedUsers.length}}</div>
        <div class="text-right">Ends {{moment model.expiresAt 'DD.MM.YYYY'}}</div>
    </div>
</div>

<div class="model-container shadow-z-1">
  {{#each poll in model.polls}}
      <div class="poll-detail">
          <h4>{{poll.question}}:</h4>
          <div class="options">
            {{#each option in poll.options}}
                <div class="row">
                    <label class="col-lg-offset-1 col-lg-1">{{option.value}}</label>
                    <button {{action 'vote' option}} class="btn btn-material-amber col-lg-1">{{option.answers.length}}</button>
                </div>
            {{/each}}
              <hr/>
          </div>
      </div>
  {{/each}}
</div>