<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
          {{#link-to 'index' class="navbar-brand"}}Mustech{{/link-to}}
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li>{{#link-to 'users'}}Users{{/link-to}}</li>
              {{#if session.isAuthenticated}}
                  <li class="dropdown">
                    {{#link-to 'issues' classNames='dropdown-toggle' data-toggle="dropdown"}}
                        Events <span class="badge">{{numberOfActiveEvents}}</span> <b class="caret"></b>
                    {{/link-to}}
                      <ul class="dropdown-menu">
                          <li>{{#link-to 'issues.new'}}New{{/link-to}}</li>
                      </ul>
                  </li>
              {{/if}}
            </ul>
            <div id="login-form" class="navbar-right">
              {{#if session.isAuthenticated}}
                  <div class="btn-group">
                      <button class="btn btn-material-amber navbar-btn">{{session.secure.identification}}</button>
                      <button {{action 'logout'}} type="submit" class="btn btn-info navbar-btn">Logout</button>
                  </div>
              {{else}}
                  <button {{action 'openModal' 'login-modal'}} type="button" class="btn btn-material-orange navbar-btn">Login</button>
                  <button {{action 'openModal' 'register-modal' user}} type="button" class="btn btn-link btn-sm navbar-btn">Register</button>
              {{/if}}
            </div>
        </div>
    </div>
</nav>
